h3{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

h2{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin-top: 5%;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  font-weight: 200;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Gap between cards */
  margin-top: 10%;
}

.recipe-card {
  width: 100%; 
}

.recipe-card img{
  width:80%;
  height:600px;
  border-radius: 25px;
}

.filter-flex{
  display:flex;
  justify-content: space-between;
}

.recipe-link
 {
  text-decoration: none; 
}

.recipe-link h3{
  color:#333;
}

.recipe-link p{
  color:#a6a6a6;
}

.custom-button:hover {
  background-color: lightgreen;
}

.recipe-link img:hover {
  /* Define styling for the image when hovering over the link */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
}